@import '~antd/dist/antd.css';

.ant-breadcrumb {
    font-size: 21px;
}

.ant-layout-sider .brand {
    color: rgba(255,255,255,.65);
    font-variant: small-caps;
    margin: 1rem;
    text-align: center;
}

/* Adjustment / Helpers */

.align-c { text-align: center  }
.align-j { text-align: justify }
.align-r { text-align: right   }

.bold { font-weight: bold }

.inline-block { display: inline-block !important }

.mb0 { margin-bottom: 0rem !important }
.mb2 { margin-bottom: 2rem !important }

// 1rem margins
.mb1 { margin-bottom: 1rem !important }
.mr1 { margin-right:  1rem !important }
.mt1 { margin-top:    1rem !important }

.p1 { padding: 1rem !important }
