{
    "plugins": [
		["babel-plugin-inline-import", {
			"extensions": [
			  ".md"
			]
		}],
        ["import", {
            "libraryName": "antd",
            "style": true
        }]
    ],
    "presets": [
        "next/babel"
    ]
}