{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:jsx-a11y/recommended",
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    parser: "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "jsx-a11y",
    ],
    "rules": {
        "indent": ["error", "tab"],
        "linebreak-style": ["error", "unix"],
        "no-mixed-spaces-and-tabs": "off",      // TODO: remove once editor unfucked
        "quotes": ["error", "single"],
        "semi": ["error", "never"],

        // https://github.com/evcohen/eslint-plugin-jsx-a11y/issues/402#issuecomment-368305051
        "jsx-a11y/anchor-is-valid": [ "error", {
          "components": [ "Link" ],
          "specialLink": [ "hrefLeft", "hrefRight" ],
          "aspects": [ "invalidHref", "preferButton" ],
        }],

        // React Rules
        "react/react-in-jsx-scope": "off"
    }
}
